extends ./layout/index

block contenido 
    
    main.container.mt-5 
        h1.text-center.mt-5 #{pagina}

        blockquote.text-center Lee sobre nuestros clientes 
        include ./layout/bloqueTestimoniales
        .row    
            .col-md-12
                h2.d-block.w-100.text-center Agrega un Testimonial

                if (errores) 
                    each error in errores   
                        .alert.col.alert-danger.text-center= error.mensaje

            .row.justify-content-center.col 
                .col-md-8
                    form(action="/testimoniales", method="POST")
                        .form-group
                            label(for="nombre", class="font-weight-bolder") Nombre
                            input#nombre(type="text", name="nombre", placeholder="tu nombre", class="form-control", value= nombre)
                        .form-group
                            label(for="correo", class="font-weight-bolder") Correo Electronico
                            input#correo(type="text", name="correo", placeholder="tu correo", class="form-control", value= correo)
                        .form-group
                            label(for="mensaje",class="font-weight-bolder") Mensaje
                            textarea#mensaje(name="mensaje", placeholder="tu mensaje", class="form-control",  rows="5")= mensaje 

                        input.btn.btn-success.btn-block(type="submit")

